@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>
<address>
    <strong>Mais informações: </strong><a href="http://educandoweb.com.br">Educandoweb</a>
</address>